<!DOCTYPE html>
<html>
<head>
  <title>OnPoint</title>
  <%= stylesheet_link_tag    'application', params[:controller], media: 'all' %>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
	<% if flash[:notice] %>
	  	<script type="text/javascript">
	  		$(document).ready(function(){
	  			Materialize.toast('<%= flash[:notice]%>', 4000);
	  		});
	  	</script>
	<% end %>
</body>
</html>
